<div class="form-control">
  <input
    type="password"
    [(ngModel)]="password"
    (ngModelChange)="onPasswordChange($event)"
    required
  />
  <label>
    <span style="transition-delay: 0ms">E</span>
    <span style="transition-delay: 50ms">n</span>
    <span style="transition-delay: 100ms">t</span>
    <span style="transition-delay: 150ms">e</span>
    <span style="transition-delay: 200ms">r</span>
    <span style="transition-delay: 250ms"> </span>
    <span style="transition-delay: 300ms">y</span>
    <span style="transition-delay: 350ms">o</span>
    <span style="transition-delay: 400ms">u</span>
    <span style="transition-delay: 450ms">r</span>
    <span style="transition-delay: 500ms"> </span>
    <span style="transition-delay: 550ms">p</span>
    <span style="transition-delay: 600ms">a</span>
    <span style="transition-delay: 650ms">s</span>
    <span style="transition-delay: 700ms">s</span>
    <span style="transition-delay: 750ms">w</span>
    <span style="transition-delay: 800ms">o</span>
    <span style="transition-delay: 850ms">r</span>
    <span style="transition-delay: 900ms">d</span>
  </label>
</div>
